<h1>Help</h1>
<div>Need some help? Since we're still brand new, we are still looking for questions to answer in a FAQ-section.
If you can think of any - please let us know on Twitter
  <%= link_to '@attendion', 'https://twitter.com/attendion', :class => 'navbar-link' %> and we'll see what we can do to
  help!</div>
