<h1>All Dodylls</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

  <% @dodyll.each do |dodyll| %>
    <tr>
      <td><%= dodyll.title %></td>
      <td><%= link_to 'Show', dodyll_path(dodyll) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create new Dodyll", {:action => 'new' }%></p>