<h1>All Dodylls</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

  <% @dodyll.each do |dodyll| %>
    <tr>
      <td><%= dodyll.title %></td>
      <td><%= link_to 'Show', dodyll_path(dodyll) %></td>
      <td><%= link_to 'Destroy', dodyll_path(dodyll),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Create new Dodyll', new_dodyll_path %>