<h1><%= @dodyll.title %></h1>

<p>
  <strong>Description: </strong> <%= @dodyll.description %><br />
  <strong>Location:</strong> <%= @dodyll.location %><br />
  <% @dodyll.start.upto(@dodyll.end) do |date| %>
    <%= date %>
  <% end %>
</p>

