<h1><%= @dodyll.title %></h1>

<p>
  <% if @dodyll.description.present? %>
  <strong>Description: </strong> <%= @dodyll.description %><br />
  <% end %>
  <% if @dodyll.location.present? %>
    <strong>Location:</strong> <%= @dodyll.location %><br />
  <% end %>
  <table>
  <tr> <th>User</th>
  <% @dodyll.start.upto(@dodyll.end) do |date| %>
  <th> <%= date %> </th>
  <% end %>
  </tr>

  <tr> <th>Name</th>
    <% @dodyll.start.upto(@dodyll.end) do |date| %>
      <th> Checkbox </th>
    <% end %>
  </tr>
  </table>
</p>