<h1>All Attendion Members</h1>

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag user.avatar.url, width: '10%' if user.avatar.present?%>
        <div class="col-md-4">
      <%= user.name %>
      <%= user.email %>
      <%=  link_to(t("users.show.show_href"), user_path(user), :class => 'navbar-link') %>
        </div>
      </div>
    </div>
  <% end %>




