<div class="pull-right"><h3><%= link_to 'Create new Event', new_event_path, :class => 'navbar-link' %></h3></div>

<h1>All events</h1>

<p></p>

    <table class="table">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th></th>
      </tr>

      <% Event.all.each do |e| %>

      <tr>
        <td><%= link_to e.title, event_path(e), :class => 'navbar-link' %></td>
        <td><%= e.date %></td>
        <td><%= button_to 'join event', join_event_path(e), method: :get %></td>
      </tr>


      <% end %>
    </table>