

<h1>All events</h1>

<p></p>


<% Event.all.each do |e| %>

    <p>
      <strong>Title:</strong>
      <%= e.title %>
    </p>

    <p>
      <b>When?</b> <%= e.time %>
      <b>Where?</b> <%= e.date %>
    </p>

    <p>_______________</p>

<% end %>